/*Start*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

.container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1rem;
}

body {
    color: black;
    background-color: white;
    font-family: 'Nunito', sans-serif;

}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header start */
header {
    width: 100%;
    height: 5rem;

}

.nav-brand {
    width: 8.8rem;
    height: 2.6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-right-icons .list-icons {
    display: flex;
    align-items: center;


}

.nav-right-list {
    width: 25rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -26rem;
    background-color: #FF5353;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-right-list.active {
    right: 0;
}

.nav-right-list .close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
}

.menu-icon i {
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
    transition: color 700ms;
}

.list-icons i:hover {
    color: #FF5353;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-item {
    margin: 1.5rem 0;
}

/* hero start */

.hero {
    width: 100%;
    height: 100vh;
    background: url(../images/bg-1.jpg) center no-repeat;
    background-size: cover;
}

.hero .main-message {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "footer";

}

.hero .message {
    grid-area: footer;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero .image {
    grid-area: header;
}

.hero img {
    width: 33rem;
    height: 24.947rem;
}

.hero h3 {
    font-size: 1.4rem;
    color: #565656;
    margin-bottom: 1rem;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.hero h1 {
    font-size: 4rem;
    line-height: 5.6rem;
    font-weight: 700;

}

.btn {
    margin-top: 3.5rem;
    color: white;
    font-size: 1.4rem;
    border-radius: 3px;
    padding: 2rem 2.5rem;
    background-color: #FF5353;
    text-transform: uppercase;
    display: inline-block;
    line-height: 0.8;
    min-width: 17rem;
    transition: all 300ms ease-in-out;
    text-align: center;
    font-weight: bold;
}

.btn:hover {
    color: #007bff;
    background-color: white;
}
        /* featured product start */

.featured-product{
    width: 100%;
    height: auto;
    padding: 5rem 0 2rem;
}
.product{
    text-align: center;
}
.featured-product .h1{
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5rem;
}
.featured-product .product-images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
}
.featured-product img{
    width: 33rem;
    height: 41.3rem;
}
.featured-product h3{
    color: #888888;
    font-size: 1.4rem;
    margin: 1.6rem 0 0 1rem;
}
.featured-product a{
    color: #FF5353;
    font-size: 1.3rem;
    
}